.satified-blog-title h1{
    font-family: montserrat;
    font-size: 23px;
    letter-spacing: 0.3px;
    font-weight: 700;
    word-wrap:break-word;
    width: 100%;
    padding-bottom: 15px;
}

.satified-blog-title span {
    font-family: montserrat;
    color: #141414;
    font-size: 14px;
    width: 100%;
}

.satified-blog-title span a{
    text-decoration: none;
    color: #eeb013;
    font-family: montserrat;
    font-size: 14px;
    width: 100%;
}

.satified-ul{
    padding-top: 30px;
    padding-bottom: 10px;
}

.satified-ul ul{
    list-style: none;
    padding-top: 10px;
    display: flex;
    border-top: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
}

.satified-ul li {
    padding-right: 20px;
     font-family: montserrat;
     color: #6f6f6f;
     font-size: 14px;
     padding-bottom: 10px;
}

.satified-blog-title li a{
    text-decoration: none;
    color: #6f6f6f;
}

.satified-blog-title i{
    padding-right: 5px;
}

.tag{
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: montserrat;
    font-size: 15px;
}

.form-profile{
    display: flex;
    gap: 30px;
}

.form-name{
    align-content: center;
}

.form-name h4{
    padding: 0;
       width: 100%;
       font-size: 14px;
       color: #141414;
       letter-spacing: 1px;
       font-weight: 800px;   
       font-family: montserrat;  
}

.comment-form{
    padding-top: 40px;
}

.comment-form h3{
    font-style: italic;
    width: 100%;
       font-size: 20px;
       color: #141414;
       font-weight: 800px;   
       font-family: montserrat; 
       padding-bottom: 10px; 
       border-bottom: 1px solid #6f6f6f;
}

.form-inputs{
    padding-top: 30px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.input-box{
    width:33.3333333%;
    padding-right: 120px ;
}



.input-box label{
    width: 100%;
    font-size: 12px;
    color: #141414;
    font-style: italic;
    letter-spacing: 1px;
    width: 100%;
}

.input-box input{
    padding: 0;
    padding: 10px 20px;
    background-color:white;
    color: #141414;
    border-radius: 0;
    border: 1px solid #6f6f6f;
    width: 100%;
}

.input-box input:placeholder-shown{
    font-style: italic;
}


.URL-align label{
    width: 100%;
    font-size: 12px;
    color: #141414;
    font-style: italic;
    letter-spacing: 1px;
    width: 100%;
}

.URL-align{
    padding-top: 10px;
}

.URL-align input{
    padding: 0;
    padding: 10px 20px;
    background-color:white;
    color: #141414;
    border-radius: 0;
    border: 1px solid #6f6f6f;
    width:100%;
}

.URL-align input:placeholder-shown{
    font-style: italic;
}

.URL-align{
    padding-right: 50px;
}

.comment-align textarea{
    width: 100%;
    height: 150px;
    padding: 10px;
    background-color:white;
    color: #141414;
    border-radius: 5px;
    border: 1px solid #6f6f6f;
}

.comment-align label{
    width: 100%;
    font-size: 12px;
    color: #141414;
    font-style: italic;
    letter-spacing: 1px;
    width: 100%;
}

.comment-align{
    padding-top: 50px;
    padding-right: 30px;
}

.comment-align textarea:placeholder-shown{
    padding: 10px;
    font-style: italic;
}

.comment-btn{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.comment-btn button{
    background-color: #eeb013;
    padding: 15px 25px;
    text-align: center;
    font-size: 12px;
    color: white;
    letter-spacing: 1px;
    border-radius: 30px;
    font-family: montserrat;
}
